body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body > #background-mouvement{
    background: linear-gradient(26deg, rgba(181, 197, 61, 0.4), rgba(68, 103, 116, 0.4));
    background-size: 800% 800%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@-webkit-keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
@keyframes AnimationName {
    0%{background-position:70% 0%}
    50%{background-position:31% 100%}
    100%{background-position:70% 0%}
}
#main{
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

/*** TITLE ***/
#main h1.ui.header {
    font-family: 'Open Sans', sans-serif;
    padding-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.bold-title{
    font-size: 1.1em;
    font-weight: 700;
}

.thin-title{
    font-size: 0.6em;
    font-weight: 300;
}

/*** ICONS ***/
#main .four.wide.column{
    cursor:pointer;
    margin-top: 15%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#main .four.wide.column:hover{
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1);
    transform:scale(1.1,1.1);
}

#main .icon{
    opacity: 0.9;
}

.linkedin.inverted.icon,
.mail.inverted.icon,
.twitter.inverted.icon,
.github.inverted.icon{
    padding: 0 2px 2px 0;
}

.g-recaptcha{
    margin-bottom:10px;
}

/*** FOOTER ***/
footer{
    opacity:1;
}

/*** ANIMATED TYPING ***/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}